*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background: linear-gradient(135deg, #8052ec, #e688d1);
}
.container{
    border:2px solid black;
    width:40%;
   position: absolute;
   transform: translate(-50%, -50%);
   top:50%;
   left:50%;
   padding:30px 40px
}
#newtask{
    position: relative;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0,0 ,0.3);
}
#newtask input{
    width: 70%;
    height:45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 2px solid rgb(130, 129, 129);
    padding:12px;
    color: black;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline:none;
    border-color: #8052ec;
}
#newtask button{
    position: relative;
    float:right;
    width:20%;
    height:40px;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #e688d1;
    border: none;
    color: white;
    cursor: pointer;
}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    box-shadow: 0 15px 30px rgba(0, 0,0 ,0.3);
    border-radius: 10px;
    width:100%;
    position: relative;
}
.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: rgb(112, 187, 190);
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}